{% extends 'layouts/base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-12 mx-auto">

            {% if category is defined %}
                <h1 class="text-center">Modifier une catégorie</h1>
            {% else %}
                <h1 class="text-center">Ajouter une catégorie</h1>
            {% endif %}

        </div>
    </div>

    <div class="row">
        <div class="col-4 mx-auto my-3">
            {{ form_start(form, {'attr': {novalidate: 'novalidate'}}) }}

                {{ form_row(form.name) }}

            {% if category is defined %}
                <button type="submit" class="d-block col-3 mt-2 mx-auto btn btn-warning">Modifier</button>
            {% else %}
                <button type="submit" class="d-block col-3 mt-2 mx-auto btn btn-success">Ajouter</button>
            {% endif %}

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}